@import url('https://fonts.googleapis.com/css?family=Quicksand');

* {
    box-sizing: border-box;
}

.jumbotron {
    width: 100%;
    height: 100vh;
    padding-top: 42vh;
    text-align: center;
    background-image: url(http://kodilla.com/static/lessons/blue-mountain.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.jumbotron h1 {
    margin: 0;
    font-size: 38px;
    font-weight: 500;
    color: white;
    font-family: "QuickSand";
}

.jumbotron button {
    margin-top: 20px;
    padding: 15px 40px;
    background-color: #4577ED;
    font-size: 20px;
    color: white;
    font-family: "QuickSand";
    border: none;
    cursor: pointer;
    transition: .3s
}

.jumbotron button:hover {
    background-color: #7E9FED;
}

.gallery img {
    float: left;
    width: 25%;
}

.gallery img:hover {
    opacity: 0.8;
    cursor: pointer;
}